<div class="bg-hero bg-cover px-20 flex flex-col gap-6 justify-center w-full h-[880px] relative">
  <h1 class="font-semibold text-6xl w-3/5">Empowering Businesses Securing Futures</h1>
  <p class="text-xl w-3/5">
    We're your trusted partner in cybersecurity. Our SaaS platform offers tailored solutions for Manufacturing, Healthcare, Finance, Retail, and Defense, ensuring data privacy and protection
  </p>
</div>