<div class="bg-hero bg-cover px-20 flex flex-col gap-6 justify-center w-full h-[880px] relative">
  <h1 class="w-3/5">Empowering Businesses Securing Futures</h1>
  <p class="text-xl w-3/5">
    We're your trusted partner in cybersecurity. Our SaaS platform offers tailored solutions for Manufacturing, Healthcare, Finance, Retail, and Defense, ensuring data privacy and protection
  </p>
  <div>
    <button class="flex justify-center items-center gap-2 rounded-full px-6 py-4 bg-[#F5FF80]">
      Explore Now 
      <%= render partial: "icons/right_arrow" %>
    </button>
  </div>
</div>
<section>
  <h2 class="text-4xl text-center font-semibold">Powerful Cybersecurity Features</h2>
</section>